 /******************************************************************
  Stylesheet: largel Desktop Stylesheet
  
  Here's where you can start getting into the good stuff.
  This size will work on iPads, other tablets, and desktops.
  So you can start working with more styles, background images,
  and other resources. You'll also notice the grid starts to
  come into play. Have fun!
  
$link-color:        $unc-blue; #56a0d3
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

$bg-gray:            #eef0ef;
$md-purple:          #889fbe;
$md-lightblue:       #b1daf6;
$dark-gray:          #4f4f51;
$chartfooter-blue:           #1E527D;
  
  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  html {   }
  #inner-content{}
  
  #utility_bar_wrapper{  }
  
 /*********************
home page circles & content
*********************/



#wrapper{
	position:relative; 
	width:55%;
	padding-bottom:49%;
	margin-top:53px; 
}




.circletext {
	position:relative;
	display:block;
	font-size: 1.2em;
	letter-spacing: .04em;
	font-family: "adelle",serif;
	font-weight: 300;
	color:#fff;
	display:inline-block;
	display: table-cell; 
	vertical-align: middle; 
	text-align: center;
}


.circletextcampus{
	padding-left:10%
}

.circletextstudent{
	padding-top:9%
}
.circle1 {
	position: absolute;
    background-color:#889fbe;
    color:000;
    top:-8%;
    left:17%;
}

.circle2 {
	position:absolute;
	top:21%;
	left:-8%;
	background-color:#56a0d3;	
}
.circleMiddle{
	position:absolute;
	top:37%;
	left:32%;
	background-color:#56a0d3;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	width: 20%;
	padding-bottom: 20%;
}

.circle3 {
    position:absolute;
    top:21%;
    left:42%;
    background-color:#b1daf6;
}

.circle4 {
margin:0;
   position:absolute;
   top:48%;
   left:17%;
   background-color: #888888;
}

.transparent_class {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

  /* IE 5-7 */
  filter: alpha(opacity=70);

  /* Netscape */
  -moz-opacity: 0.7;

  /* Safari 1.x */
  -khtml-opacity: 0.7;

  /* Good browsers */
  opacity: 0.7;
}

.transparent_class2 {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  /* IE 5-7 */
  filter: alpha(opacity=80);

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Good browsers */
  opacity: 0.8;
}

.circletext  a,
 a:visited {
    color:#fff;
 
   
}

.circletext a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
	color: #000;

 
}


.circle a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
  color: #000;

 
}

.circle  a,
 a:visited {
    color:#fff;
 
   
}

/*********************
home page logo and slogan
  *********************/




#tagline{
	position:absolute;
	width: 36%;
	top:58%;
	right: .5%;
	font-size:1em;
	font-family: "news-gothic-std",sans-serif;
	line-height: 1.25em;
	color:#56a0d3;
	text-align: left;
}


#logo a{
	position:absolute;
	right: 3%; 
	top:73%;  

	font-family: "adelle",serif;
	font-weight: 300;	
	font-size:1.6em;
	line-height: 1;	
	color:#4f4f51;
	letter-spacing: .04em;
		white-space: nowrap;
    
}


#intro{
	position:absolute;
	top:85%;  
	right:26%; 
	
	font-size:1.5em;
	letter-spacing: .04em;
    list-style: none;
    text-align: center;
 }





/*********************
  internal page styles
  *********************/
  #main{
	
  }
  
  #navcol1{ 
    width: 250px; 
}
  #logointernal a{  
	  font-size:2.8rem;  
  }

 

/*********************
  internal page styles
*********************/
 #contentwrap { 
    left:250px;
}

.banner, .bannerFaculty, .bannerStudent, .bannerPublic, .bannerCampus {
	background-repeat: no-repeat;
	width:100%;
	height: 198px;
	margin-top:30px;
	background-size: 100%;
	-ms-interpolation-mode: bicubic; 
	background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
	-o-background-size: cover;
		}
		
				
	
h1.headline	{
	margin-top:.26em;
}

		
.headline{
    width:90%;
    font-size: 3.7em !important;
	text-align:left;
	font-family: "adelle",serif;
	color:#56a0d3;

}
.statement{
    display:block;
    width:68.2%;
	font-size:1.2em;
	padding: 0 0 2% 0;
	margin-top:0;
	text-align: left;
	letter-spacing:.06em;
	line-height: 1.4em;
	font-family: "news-gothic-std",sans-serif;
	  
  }
  
 /*********************
charts
  *********************/ 

	.chartFooter{
	  font-size:2em;
	  padding-bottom:38px;
  }
  



 /*********************
source pop up styles
  *********************/  
 /*********************
flyoout menue
  *********************/ 

#flyout_menu {
	width: 250px; 

}

#flyout_menu a {
    line-height: 1.2;
    padding: 10px 19px 10px 0;
    width: 250px; 
    }

#flyout_menu ul ul li a {
	background: #56a0d3;
	padding: 3px 4px;
	font-size: .8em;
	 }
/*********************
  FOOTER STYLES
  *********************/

.footer{
	margin-left:250px;
}

#infowrap{
font-size:1em;
line-height:1.4em;
padding-right:1%;
margin-top:.2em;
}


#infowrap2{
width:100%;
padding-right:1%;
margin-top:.2em;

}

 #unc-logo{
   margin: 1% 2% 0 2%;
}

#inner-footer{
		float:left;
		margin:1% 0 0 1%;
		
}  


