 /******************************************************************
  Stylesheet: largel Desktop Stylesheet
  
  Here's where you can start getting into the good stuff.
  This size will work on iPads, other tablets, and desktops.
  So you can start working with more styles, background images,
  and other resources. You'll also notice the grid starts to
  come into play. Have fun!
  
$link-color:        $unc-blue; #56a0d3
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

$bg-gray:            #eef0ef;
$md-purple:          #889fbe;
$md-lightblue:       #b1daf6;
$dark-gray:          #4f4f51;
$chartfooter-blue:           #1E527D;
  
  ******************************************************************/
/*********************
GENERAL STYLES
*********************/
html {}

#inner-content {}

#utility_bar_wrapper {}

 /*********************
home page circles & content
*********************/

#wrapper {
    position: relative;
    width: 50%;
    padding-bottom: 49%;
    margin-top: -22px;
}

.circletext {
    position: relative;
    display: block;
    font-size: 1.5em;
    letter-spacing: .04em;
    font-family: "adelle",serif;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.circletextcampus {
    padding-left: 10%;
}

.circletextstudent {
    padding-top: 9%;
}

.circle1 {
    position: absolute;
    background-color: #889fbe;
    color: 000;
    top: -8%;
    left: 17%;
}

.circle2 {
    position: absolute;
    top: 17%;
    left: -8%;
    background-color: #56a0d3;
}

.circleMiddle {
    position: absolute;
    top: 33%;
    left: 32%;
    background-color: #56a0d3;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 20%;
    padding-bottom: 20%;
    z-index: 4000;
}

.circle3 {
    position: absolute;
    top: 17%;
    left: 42%;
    background-color: #b1daf6;
}

.circle4 {
    margin: 0;
    position: absolute;
    top: 43%;
    left: 17%;
    background-color: #888888;
}

.transparent_class {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

    /* IE 5-7 */
    filter: alpha(opacity = 70);

    /* Netscape */
    -moz-opacity: 0.7;

    /* Safari 1.x */
    -khtml-opacity: 0.7;

    /* Good browsers */
    opacity: 0.7;
}

.transparent_class2 {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

    /* IE 5-7 */
    filter: alpha(opacity = 80);

    /* Netscape */
    -moz-opacity: 0.8;

    /* Safari 1.x */
    -khtml-opacity: 0.8;

    /* Good browsers */
    opacity: 0.8;
}

.circletext a,
a:visited {
    color: #fff;
}

.circletext a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
    color: #000;
}

.circle a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
    color: #000;
}

.circle a,
a:visited {
    color: #fff;
}

/*********************
home page logo and slogan
  *********************/

#tagline {
    position: absolute;
    width: 60%;
    top: 55%;
    left: 108%;
    font-size: 1.2em;
    font-family: "news-gothic-std",sans-serif;
    line-height: 1.25em;
    color: #56a0d3;
}

#logo a {
    position: absolute;
    width: 100%;
    top: 65%;
    left: 80%;
    font-family: "adelle",serif;
    font-weight: 300;
    font-size: 2.6em;
    padding-top: 5%;
    color: #4f4f51;
    letter-spacing: .04em;
}

/*********************
  internal page styles
  *********************/
#main {}

#navcol1 {
    width: 250px;
}

#logointernal a {
    font-size: 2.8rem;
}

/*********************
  internal page styles
*********************/
#contentwrap {
    left: 250px;
}

.banner, .bannerFaculty, .bannerStudent, .bannerPublic, .bannerCampus {
    background-repeat: no-repeat;
    width: 100%;
    height: 218px;
    margin-top: 30px;
    background-size: 100%;
    -ms-interpolation-mode: bicubic;
    background-size: cover;
    -moz-background-size: cover;

    /* Firefox 3.6 */
    background-position: center;

    /* Internet Explorer 7/8 */
    -o-background-size: cover;
}

h1.headline {
    margin-top: .26em;
}

.headline {
    width: 90%;
    font-size: 3.7em !important;
    text-align: left;
    font-family: "adelle",serif;
    color: #56a0d3;
}

.statement {
    display: block;
    width: 55%;
    font-size: 1.2em;
    padding: 0 0 2% 0;
    margin-top: 0;
    text-align: left;
    letter-spacing: .06em;
    line-height: 1.4em;
    font-family: "news-gothic-std",sans-serif;
}

 /*********************
charts
  *********************/

.chartFooter {
    font-size: 2em;
    padding-bottom: 38px;
}

/*********************
icon fonts
  *********************/

 /*********************
source pop up styles
  *********************/
 /*********************
flyoout menue
  *********************/

#flyout_menu {
    width: 250px;
}

#flyout_menu a {
    line-height: 1.4;
    padding: 12px 19px 12px 0;
    width: 250px;
}

#flyout_menu ul ul li a {
    background: #56a0d3;
    padding: 3px 4px;
    font-size: .8em;
}

/*********************
  FOOTER STYLES
  *********************/

.footer {
    margin-left: 250px;
}

#infowrap {
    line-height: 1.4em;
    padding-right: 1%;
    margin-top: 0;
}

#infowrap2 {
    width: 100%;
    padding-right: 1%;
    margin-top: .2em;
}

#unc-logo {
    margin: 1% 2% 0 2%;
}

#inner-footer {
    float: left;
    margin: 1% 0 0 2%;
}

/*********************
 nav
  *********************
  
.mainnavblocks{
      display:block;
      width:250px;
    height:125px;
    background-color:#4f4f51;
    border-right: 8px #ccc solid;
    border-bottom: 2px #ccc solid;
  }
  
  
.mainnavblocks:hover{
  border-right: 8px #7cc6ee solid;
  }  



.toplevel a,
.topleve a:visited{
      display:block;
      font-family: "news-gothic-std",sans-serif;
      font-weight: 200;
    color:#ccc;
    text-transform: uppercase;
    text-align:center;
    line-height: 1.40em;
    font-size:1.2em;
    margin:0px 0 0 0;
    padding:37px 0 12px 0;
    letter-spacing: .1em;
    text-decoration:none; 
  }
  
.toplevel a:hover,
.toplevel a:visited:hover,
.toplevel a:focus,
.toplevel a:visited:focus {
  color:#7cc6ee;
}  
  
.toplevel a:active{
  color:#7cc6ee;
}





.mainnav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
  
.mainnav li a,
.mainnav li a:visited{
   display:inline-block;
   width: 250px;
   color:#ccc;
   text-decoration:none; 
   height:100px;
   padding-top:10px;
   margin:0;
   border-right: 8px #ccc solid;
 }
 
 
.mainnav li a,
.mainnav li a:visited {
  color: #ccc;
  
  /* on hover */

/* on click */

/* mobile tap color  */
 /*
}
.mainnav li a:hover,
.mainnav li a:visited:hover,
.mainnav li a:focus,
.mainnav li a:visited:focus {
  color:#7cc6ee;
  border-right: 8px #7cc6ee solid;

}
.mainnav li a:link,
.mainnav li a:visited:link {
 position: relative:
   z-index:9000;

  /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */

/*  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
 
 /*
 /*********************
 nav levels removed
  *********************/
  /*.levels{
  display:inline; 
  margin-top:-100px;
  text-transform: lowercase;
  padding-left:20px;
  width:100px;
  color:#fff;
  font-size: 1em;
 }
 
.level a,
.level a:visited {
  display:inline-block;
  *display: inline;
  zoom: 1;
  font-family: "chaparral-pro-caption",serif;
  color:#ccc;
  margin:0 -25px 0 55px;
  text-align: center;
  text-decoration:none; 
  text-align: left;
  }
   
  

.level a:hover,
.level a:visited:hover,
.level a:focus,
.level a:visited:focus {
      color:#fff;
}

  */