/******************************************************************
  Stylesheet: large Desktop Stylesheet
  
  Here's where you can start getting into the good stuff.
  This size will work on iPads, other tablets, and desktops.
  So you can start working with more styles, background images,
  and other resources. You'll also notice the grid starts to
  come into play. Have fun!
  
$link-color:        $unc-blue; #56a0d3
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

$bg-gray:            #eef0ef;
$md-purple:          #889fbe;
$md-lightblue:       #b1daf6;
$dark-gray:          #4f4f51;
$chartfooter-blue:           #1E527D;
  
  ******************************************************************/
  
 
 .circletext {
	
	font-size: 1.4em;
	
}
  
  #tagline{
	position:absolute;
	width: 38%;
	top:53%;
	right: .5%;
	font-size:1.2em;
	font-family: "news-gothic-std",sans-serif;
	line-height: 1.25em;
	color:#56a0d3;
	text-align: left;
}

  
  
 
 #logo a{
		right: 3%; 
	top:67%;  

	font-size:1.4em;
	line-height: 1;	
	color:#4f4f51;
	letter-spacing: .04em;
		white-space: nowrap;
    
}

#intro{
	font-size:1.7em;
	top:78%;  
	right:23%; 
	
 }



#inner-footer{
		float:left;
		margin:1% 0 0 1%;
		
} 

.statement{
    width:49.2%;
	font-size:1.2em;
		  
  }