/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*/
@media only screen and (min-width: 481px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: 481px and Up Stylesheet
  
  This stylesheet is loaded for larger devices. It's set to 
  481px because at 480px it would load on a landscaped iPhone.
  This isn't ideal because then you would be loading all those
  extra styles on that same mobile connection. 
  
  A word of warning. This size COULD be a larger mobile device,
  so you still want to keep it pretty light and simply expand
  upon your base.less styles.
  
  ******************************************************************/
  
#utility_bar_wrapper{
	  display:none;
	  
  }
	  
.header{
	display:none;
}


/*********************
home page circles & content
*********************/

#mainwrapper{
    position:relative;
    width:100%;
   
    padding-bottom:100px;  
}

#wrapper{
	position:relative; 
	width:62%;
	padding-bottom:62%;
	margin-top:85px; 
}


.radial-center { 
	/* fallback */ background-color: #eef0ef; 
	background-position: center center; 
	background-repeat: no-repeat; /* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */ 
	background: -webkit-gradient(radial, center center, 0, center center, 1000, from(#eef0ef), to(#fff)); /* Safari 5.1+, Chrome 10+ */ 
	background: -webkit-radial-gradient(circle, #eef0ef, #fff); /* Firefox 3.6+ */ 
	background: -moz-radial-gradient(circle, #eef0ef, #fff); /* IE 10 */ 
	background: -ms-radial-gradient(circle, #eef0ef, #fff); /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */ 
	}




.circle1, .circle2, .circle3, .circle4 {
	display:inherit;
	position: absolute;
	left: 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	width: 50%;
	padding-bottom: 50%;

}



.circletextwrapper{
	position:absolute;
	margin-top:40%;
	left:0;
	height:100%;
	width:100%;
	display: table;
}
/* font size changed from mobile*/
.circletext {
	position:relative;
	display:block;
	font-size: .75em; 
	letter-spacing: .04em;
	font-family: "adelle",serif;
	font-weight: 300;
	color:#fff;
	display:inline-block;
	display: table-cell; 
	vertical-align: middle; 
	text-align: center;
}


.circletextcampus{
	padding-left:10%;
}

.circletextstudent{
	padding-top:9%
}
.circle1 {
	position: absolute;
    background-color:#889fbe;
    color:000;
    top:-8%;
    left:17%;
}

.circle2 {
	position:absolute;
	top:17%;
	left:-8%;
	background-color:#56a0d3;	
}

.circleMiddle{
    display:inherit;
	position:absolute;
	top:33%;
	left:32%;
	background-color:#56a0d3;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	width: 20%;
	padding-bottom: 20%;
	z-index: 1;	
}


.circle3 {
    position:absolute;
   top:17%;
    left:42%;
    background-color:#b1daf6;
}

.circle4 {
	margin:0;
   position:absolute;
   top:43%;
   left:17%;
   background-color: #888888;
}

.transparent_class {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

  /* IE 5-7 */
  filter: alpha(opacity=70);

  /* Netscape */
  -moz-opacity: 0.7;

  /* Safari 1.x */
  -khtml-opacity: 0.7;

  /* Good browsers */
  opacity: 0.7;
}

.circletext  a,
 a:visited {
    color:#fff;
 
   
}

.circletext a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
	color: #000;

 
}


.circle a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
  color: #000;

 
}

.circle  a,
 a:visited {
    color:#fff;
 
   
}

/*********************
home page logo and slogan
  *********************/



#tagline{
	position:absolute;
	width: 49%;
	top:41%;
	right: 2%;
	font-size:.85em;
	font-family: "news-gothic-std",sans-serif;
	line-height: 1.25em;
	color:#56a0d3;
	padding: 0;
	text-align: left;

}


#logo a{
	position:absolute;
	right: 1%; 
	top:63.5%;  
	font-family: "adelle",serif;
	font-weight: 300;	
	font-size:1.6em;
	line-height: 1;	
	color:#4f4f51;
	letter-spacing: .04em;
	white-space: nowrap;
    
}


#intro{
	position:absolute;
	right: 18%; 
	top:72%;   
	
	font-size:1.5em;
	letter-spacing: .04em;
    list-style: none;
    text-align: center;
 }
 
 
 #intro a{
	 color:#4f4f51;
	 text-decoration: none;
 }
 
 #intro a:hover,#intro a:active  {
	 color:#56a0d3;
 }

/*********************
  internal page styles
  *********************/
#contentwrap {    
     
}
   
  
/**#navcol1{ 
    display:inherit;
    position: fixed;
    width: 200px;
    height: 100%;
    background: #4f4f51;
    z-index: 1;*/
}
  #logointernal a{
      display:block;
      padding-top:38%;
	  height:230px;
	  color:#fff;
	  font-family: "adelle",serif;
	  font-weight: 300;
	  font-size:2.6rem;
	  letter-spacing: .04em;
	  background:#56a0d3;
	  text-align: center;
	  border-bottom: #ccc 2px solid;
	  text-decoration: none;
  }


/*********************
  internal page styles
*********************/
 
.banner, .bannerFaculty, .bannerStudent, .bannerPublic, .bannerCampus {
	background-repeat: no-repeat;
	width:100%;
	height: 228px;
	margin-top:0;
	background-size: 100%;
	-ms-interpolation-mode: bicubic; 
	background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
	-o-background-size: cover;
		}
		

				
	
h1.headline	{
	margin-top:.26em;
}

		
.headline{
    width:80%;
    font-size: 2.4em !important;
	text-align:left;
	font-family: "adelle",serif;
	color:#56a0d3;
	line-height: 1;

}
.statement{
    display:block;
    width:88%;
	font-size:1em;
	padding: 0 0 2% 0;
	margin-top:0;
	text-align: left;
	letter-spacing:.06em;
	line-height: 1.4em;
	font-family: "news-gothic-std",sans-serif;
	  
  }
  
 /*********************
charts
  *********************/ 

	 
.chartWrapperFull{
	 width:90%;	 
}
 
.chartWrapperHalf{
	 width:44%; 
 } 
  
.chartFooter{
   clear:both;
	background-color:#1E527D;
	font-size: 1.5em;
	color:#fff;
	height:30px;
	width:100%;
	padding-bottom:31px;
		
}

   
   
/*********************
icon fonts
  *********************/
  
  
 /*********************
flyout menue
  *********************/ 

  
  
  
#flyout_menu {
	font-weight: 200;
	width: 200px;  
}

#flyout_menu ul {
margin-top:0;	
}

#flyout_menu a {
    color: #FFF;
    line-height: 1.35;
    padding: 8px 19px 8px 0;
    width: 200px;
    }
    

#flyout_menu a:hover,
#flyout_menu a:visited:hover,
#flyout_menu a:focus,
#flyout_menu a:visited:focus{
	color:#56a0d3;	
	
}
#flyout_menu a:link,
#flyout_menu a:visited:link {
 color: #fff;
 position: relative:
   z-index:5000;
  /*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}






#flyout_menu ul li {
  list-style: none;
  margin: 0;
  padding: 0; 
  border-right: 8px #ccc solid;
  border-bottom: 2px #ccc solid;
}

#flyout_menu ul li li {
  border-bottom: 1px #ccc solid;
}

#flyout_menu ul li.hover,
#flyout_menu ul li:hover{ 
position: relative; 
border-right: 8px #7cc6ee solid;
color:#ccc;
z-index: 584598;

}


#flyout_menu ul li:hover > ul { 
visibility: visible; 
}



#flyout_menu ul ul{
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 584598;
}

#flyout_menu span, #flyout_menu a {
	display: inline-block;
	font-family: "news-gothic-std",sans-serif;
    text-transform: uppercase;
    font-weight: 200;
	font-size: 1em;
	letter-spacing: .1em;
	text-decoration: none; 
	text-align:center;
	color:#fff;
	}

#flyout_menu li { 
	background: #4f4f51; 
}
#flyout_menu li:hover, #flyout_menu li:active { 
	color: #4f4f51; 
}

#flyout_menu li.active{
    background: #56a0d3;
}

#flyout_menu ul ul li a {
	background: #56a0d3;
	padding: 2px 4px;
	font-size: .8em;
	color:#fff;
	 }
	
#flyout_menu ul ul li:hover { 
	background: #4f4f51;
	
}

.hidden{
  display:none;
}

 /*********************
source pop up styles
  *********************/
  .popup {
	position:fixed; z-index:2; top:10%; left:50%;
	width:70%; background:#fff;
	-moz-box-shadow:4px 4px 30px #130507;
	-webkit-box-shadow:4px 4px 30px #130507;
	box-shadow:4px 4px 30px #130507;
	-moz-transition:top 400ms;
	-o-transition:top 400ms;
	-webkit-transition:top 400ms;
	transition:top 400ms;
}
 .p_content { width:100%; color:#4f4f51; text-align:left; font-size:.8em; padding:3% 3% 3% 3%; line-height:1.2em; letter-spacing:.05em;}
 
  .p_anch {
    display:inline-block;  
    margin:0 1.2em 2em 0; text-align:left; font-size:.6em;
    text-transform: uppercase; text-decoration: none;
  
  }
  
  /*********************
footer
  *********************/ 
    
.footer{
}

.footer2{
	margin-left:0;	
	font-size: .9em;
	border-top:3px solid #56a0d3;
		
}


#infowrap2{
width:100%;
line-height:0.4;
padding-right:1%;
margin-top:-1em;
}

#infowrap{
width:100%;
line-height:1.2em;
padding-bottom:2%;

padding-right:1%;

}

#unc-logo{
float:left;
   margin: 4% 2% 1% 2%;
   text-align:left;

}

#inner-footer{
		float:left;
		margin:0 0 0 2%;
		text-align:left;
		
}  


  




/*  Flyout CSSterm menu  */






}




