 /******************************************************************
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  Here's where you can start getting into the good stuff.
  This size will work on iPads, other tablets, and desktops.
  So you can start working with more styles, background images,
  and other resources. You'll also notice the grid starts to
  come into play. Have fun!
  
$link-color:        $unc-blue; #56a0d3
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

$bg-gray:            #eef0ef;
$md-purple:          #889fbe;
$md-lightblue:       #b1daf6;
$dark-gray:          #4f4f51;
                       
  ******************************************************************/
/*********************
GENERAL STYLES
*********************/

#utility_bar_wrapper {
    display: inherit;
    position: fixed;
    width: 100%;
    z-index: 5000;
}

/**********mobile menu ***********/
#cssmenu-67 {
    display: none;
}

 /*********************
home page circles & content
*********************/

#wrapper {
    position: relative;
    width: 55%;
    padding-bottom: 49%;
    margin-top: -22px;
}

.circletext {
    position: relative;
    display: block;
    font-size: 1.0em;
    letter-spacing: .04em;
    font-family: "adelle",serif;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.circletextcampus {
    padding-left: 10%;
}

.circletextstudent {
    padding-top: 9%;
}

.circle1 {
    position: absolute;
    background-color: #889fbe;
    color: 000;
    top: -8%;
    left: 17%;
}

.circle2 {
    position: absolute;
    top: 17%;
    left: -8%;
    background-color: #56a0d3;
}

.circle3 {
    position: absolute;
    top: 17%;
    left: 42%;
    background-color: #b1daf6;
}

.circle4 {
    margin: 0;
    position: absolute;
    top: 43%;
    left: 17%;
    background-color: #888888;
}

.transparent_class {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

    /* IE 5-7 */
    filter: alpha(opacity = 70);

    /* Netscape */
    -moz-opacity: 0.7;

    /* Safari 1.x */
    -khtml-opacity: 0.7;

    /* Good browsers */
    opacity: 0.7;
}

.circletext a,
a:visited {
    color: #fff;
}

.circletext a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
    color: #000;
}

.circle a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
    color: #000;
}

.circle a,
a:visited {
    color: #fff;
}

/*********************
home page logo and slogan
  *********************/

#tagline {
    position: absolute;
    width: 65%;
    top: 58%;
    left: 100%;
    font-size: 1.1em;
    font-family: "news-gothic-std",sans-serif;
    line-height: 1.25em;
    color: #56a0d3;
}

#logo a {
    position: absolute;
    width: 100%;
    top: 65%;
    left: 80%;
    font-family: "adelle",serif;
    font-weight: 300;
    font-size: 2.6em;
    padding-top: 10%;
    color: #4f4f51;
    letter-spacing: .04em;
}

/*********************
  internal page styles
  *********************/

#navcol1 {
    width: 230px;
}

#logointernal a {
    font-size: 2.8rem;
}

/*********************
  internal page styles
*********************/
#contentwrap {
    left: 230px;
}

.banner, .bannerFaculty, .bannerStudent, .bannerPublic, .bannerCampus {
    background-repeat: no-repeat;
    width: 100%;
    height: 198px;
    margin-top: 30px;
    background-size: 100%;
    -ms-interpolation-mode: bicubic;
    background-size: cover;
    -moz-background-size: cover;

    /* Firefox 3.6 */
    background-position: center;

    /* Internet Explorer 7/8 */
    -o-background-size: cover;
}

h1.headline {
    margin-top: .26em;
}

.headline {
    width: 90%;
    font-size: 2.9em !important;
    text-align: left;
    font-family: "adelle",serif;
    color: #56a0d3;
    line-height: 1.2;
    padding-right: 10%;
}

.statement {
    display: block;
    width: 70%;
    font-size: 1.2em;
    padding: 0 1% 2% 0;
    margin-top: 0;
    text-align: left;
    letter-spacing: .06em;
    line-height: 1.4em;
    font-family: "news-gothic-std",sans-serif;
}

 /*********************
charts
  *********************/

.chartWrapperFull {
    width: 67%;
}

.chartWrapperHalf {
    width: 32.5%;
}

 /*********************
flyout menue
  *********************/

#flyout_menu {
    width: 230px;
}

#flyout_menu a {
    width: 230px;
}

/*********************
icon fonts
  *********************/

 /*********************
source pop up styles
  *********************/

/*********************
 LAYOUT & GRID STYLES
 *********************/

/*********************
LAYOUT & GRID STYLES
*********************/

/*********************
HEADER SYTLES
*********************/

.footer {
    margin-left: 230px;
}

#infowrap2 {
    width: 100%;
    line-height: 0.4;
    padding-right: 1%;
    margin-top: -1em;
}

#infowrap {
    width: 100%;
    line-height: 1.4em;
    padding-right: 1%;
    margin-top: 3em;
}

#unc-logo {
    float: left;
    margin: 4% 2% 1% 2%;
}

#inner-footer {
    float: left;
    margin: 0 0 0 2%;
}

.copyright {
    line-height: 0;
}