/*********************
GENERAL STYLES
*********************/
html,
body {
height: 100%;
overflow-x:hidden;

}
body {
  font-family: "proxima-nova", arial, "sans-serif";
  font-size: 100%;
  line-height: 1.0;
  color: #4F4F51;
  background-color: #fff; 
 
}

html { 
	overflow-y: scroll;
	
}


.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

 #utility_bar_wrapper{
	  display:none;
  }
 /*********************
home page circles & content
*********************/

#mainwrapper{
    position:relative;
    width:100%;
     margin-top:-58px;
}

.radial-center { 
	/* fallback */ background-color: #eef0ef; 
	background-position: center center; 
	background-repeat: no-repeat; /* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */ 
	background: -webkit-gradient(radial, center center, 0, center center, 1000, from(#eef0ef), to(#fff)); /* Safari 5.1+, Chrome 10+ */ 
	background: -webkit-radial-gradient(circle, #eef0ef, #fff); /* Firefox 3.6+ */ 
	background: -moz-radial-gradient(circle, #eef0ef, #fff); /* IE 10 */ 
	background: -ms-radial-gradient(circle, #eef0ef, #fff); /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */ 
	}

#wrapper{
	position:relative; 
	width:100%;

	 
}

.circle1, .circle2, .circle3, .circle4,.circleMiddle{
	display:none;
}
/*********************
home page logo and slogan
  *********************/
/* font size changed from mobile*/
.wrapperinfo{
	margin-top:0;
}

#tagline{
	display:block;
	font-size:1em;
	font-family: "news-gothic-std",sans-serif;
	line-height: 1.4em;
	color:#56a0d3;
	padding: 4% 2%	4% 2%;
	margin-top:50px;
	text-align: center;

}


#logo a{
	display:block;
	font-family: "adelle",serif;
	font-weight: 300;	
	font-size:4.5em;
	line-height: 1em;
	text-align: center;
	color:#4f4f51;
	letter-spacing: .04em;
    
}

#logo a:hover, #logo a:focus {
	color:#56a0d3;
    
}
 
  
 #intro{
	display:block;
	font-family: "adelle",serif;
	font-weight: 600;	
	font-size:1.5em;
	letter-spacing: .04em;
    list-style: none;
    text-align: center;
 }
 
 #intro a{
	 color:#4f4f51;
	 text-decoration: none;
 }
 
 #intro a:hover,#intro a:active  {
	 color:#56a0d3;
 }
 
 
 
  
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 96%;
  margin: 0 auto;
}
/*********************
LINK STYLES
*********************/
a,
a:visited {
  color: #fff;

  /* on hover */

  /* on click */

  /* mobile tap color */

}
a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
  color: #56a0d3;
  position: relative:
   z-index:5000;

}
a:link,
a:visited:link {
 color: #fff;
 position: relative:
   z-index:5000;
  /*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

a.active{
	background-color:#56a0d3;
	color:#fff;
}

#flyout_menu #currentpage a{
	background-color:#56a0d3;
	color:#fff;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 400;
  /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

  /* removing text decoration from all headline links */

}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a {
  text-decoration: none;
}
h1,
.h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}
h2,
.h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}
h3,
.h3 {
  font-size: 1.125em;
}
h4,
.h4 {
  font-size: 1.1em;
  font-weight: 700;
}
h5,
.h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}


/*********************
POSTS & CONTENT STYLES
*********************/
#content {
  
    background-color: #eef0ef; 
}


/* end .wp-prev-next */

/*********************
  internal page styles
*********************/


#navcol1{ 
    display:none;
}

 #contentwrap { 
    position:relative;
    width:100%;
    left:0;
    padding:0 2% 4% 2%;
    background-color:#eef0ef;

}

.banner, .bannerFaculty, .bannerStudent, .bannerPublic, .bannerCampus {
	background-repeat: no-repeat;
	width:100%;
	height: 198px;
	margin-top:0px;
	background-size: 100%;
	-ms-interpolation-mode: bicubic; 
	background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
	-o-background-size: cover;
		}

.bannertop10{	
	background-image: url(../images/uncoldwell.jpg);
	}
		
.bannerFaculty{	
	background-image: url(../images/facultyoutcomes.jpg);
	}
	
.bannerCampus{	
	background-image: url(../images/campusenvironment.jpg);
	}	

.bannerStudent{	
	background-image: url(../images/uncgrads.jpg);
	}	

.bannerPublic{	
	background-image: url(../images/grad-flag.jpg);
	}	
				
	
h1.headline	{
	margin-top:.26em;
}

		
.headline{
    width:95%;
    font-size: 2em !important;
	text-align:left;
	font-family: "adelle",serif;
	color:#56a0d3;
	

}
.statement{
    display:block;
    width:86%;
	font-size:.8em;
	padding: 0 0 2% 0;
	margin-top:0;
	text-align: left;
	letter-spacing:.06em;
	line-height: 1.4em;
	font-family: "news-gothic-std",sans-serif;
	  
  }
  
   
 /*********************
charts
  *********************/ 

.chartWrapperFull{
	 float:left;
	 width:86%;
	 padding-bottom:1%;
	 padding-top:1%;	 
}

.chartWrapperFull img {
  background-color:#fff; 
}
 
.chartWrapperHalf{
	 float:left;
	 margin-right:2%;
	 width:42%;
	 padding-bottom:1%;
	 padding-top:1%; 
	 }
	 
.chartWrapperHalf img{
   background-color:#fff; 
   }
 
  
.chartFooter{
   clear:both;
	background-color:#1E527D;
	font-size: 1.2em;
	color:#fff;
	height:0;
	width:100%;
	padding-bottom:22px;
		
}




.chartFooter ul {
   float:right;
   margin:0;
   }

.chartFooter ul li{
   margin-top:3.2%;
   display:inline;
   font-size:.8em;
   }
 
 .chartFooter li:firstchild{
	 padding-right:2em;
 }  
 
.chartFooter li a:hover{
   color:#56a0d3;
   }

  a[href^="mailto"]{
	  color:#fff;
  } 
  

 
   
/*********************
icon fonts
  *********************/
  
/* Use the following CSS code if you want to have a class per icon */
[class^="icomoon-"]:before,
[class*="icomoon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	
}


.icon-export:before {
	content: "\e600";
}
.icon-download:before {
	content: "\e601";
}


[data-icon]:before { 
	font-family: 'icomoon'; /* BYO icon font, mapped smartly */ 
	content: attr(data-icon); 
	speak: none; /* Not to be trusted, but hey. */ 
	margin:0px 20px 0px 0px;
	font-size:.7em;
	display:inline-block;
	padding: 0 0 0 0;
	text-decoration:none;
	}
	

 /*********************
source pop up styles
  *********************/  
.popup {
	position:fixed; z-index:2; top:14%; left:50%;
	width:90%; background:#fff;
	-moz-box-shadow:4px 4px 30px #C8C8C8;
	-webkit-box-shadow:4px 4px 30px #C8C8C8;
	box-shadow:4px 4px 30px #C8C8C8;
	-moz-transition:top 400ms;
	-o-transition:top 400ms;
	-webkit-transition:top 400ms;
	transition:top 400ms;
}
  .p_content { width:100%; color:#4f4f51; text-align:left; font-size:.45em; padding:3% 3% 3% 3%; line-height:1.3em; letter-spacing:.03em;}
  .p_content a{color:#56a0d3;}
  .p_content a:visited {color:#56a0d3;}
  .p_anch {
    display:inline-block;  
    margin:0 1.2em 2em 0; text-align:left; font-size:.6em;
    text-transform: uppercase; text-decoration: none;
  
  }
  .p_anch a { color:#fff;text-decoration:none; font-family: "proxima-nova", arial, "sans-serif";}
  .p_anch a:hover { text-decoration:none; }
  .p_anch_bottom { margin:1500px 0 0 0; padding:0 0 50px 0; }
  .p_close {
    float:right; width:15px; height:14px; margin:11px 10px 0 0;
    background:url(../images/popup_close.png);
  }
  .p_body {
    background:#000; left:0; top:0; position:fixed; width:100%; height:100%; opacity:0.05;
      -moz-transition:opacity 400ms;
      -o-transition:opacity 400ms;
      -webkit-transition:opacity 400ms;
    transition:opacity 400ms;
  }


/* js стили — декларативно */
.js__popup {}
  .js__p_start {}
  .js__p_close {}
  .js__p_body {}
  .js__slide_top { height:0; overflow:hidden; top:0; }
  .js__fadeout { height:0; overflow:hidden; opacity:0; }




/*********************
FOOTER STYLES
*********************/



.footer{
	clear: both;
	width:100%;
	font-size:.8em;
	border-top:3px solid #56a0d3;
	text-align:center;
	
}

#inner-footer{
		color:#4f4f51;
    text-align:center;
    line-height: .8em;
}  

  
 #unc-logo{
display:block;
margin: 3% 2% 2% 2%;
}

 #unc-logo img {
  width: 250px;
 }
.navfooter li{
	display:inline;
}

.navfooter li a{
color:#4f4f51;
text-decoration: none;
line-height: 1.5em;
padding-bottom:0px;
}


.navfooter li:after {
content: " | ";
color: #ccc;
display: inline-block;
font-size: 100%;
margin: 0 .25em 0 .5em;
}

.navfooter li:last-child:after { content: " "; }  /* remove the pipe from the last list item */


.navfooter li a:hover{
	color:#56a0d3;
}
#menu-footer-links .footer-nav ul{
	margin:0 0 !important;
}


	

.footer-links ul li {
	color: #000;
	float: left;
    position: relative;
    }
    

 #infowrap2{
width:100%;
text-align: center;
margin-top:0;
padding: 0 2% 0 2%;
font-size:.8em;
border-top:#56a0d3 solid 2px;
}
   
    

#infowrap{
float:left;
width:100%;
text-align:left;
font-size:.8em;
padding: 0 2% 0 2%;
}

.copyright{
	float:left;
	line-height:1.5;
}


.copyright a{
	color:#4F4F51;
	text-decoration:none;
}

img {
  width:100%;
}

  /*********************
svg fix for ie
*********************/
 


svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
 
 
 /*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
img[src*=".svg"] {
  width: 100%\9; 
}
/* 2 */
@media screen and (min-width:0\0) {
  img[src*=".svg"] {
    width: 100%; 
  }
}
