/******************************************************************
Stylesheet: Main Stylesheet
******************************************************************/

/******************************************************************
COLORS
******************************************************************
Carolina Blue: 56a0d3
Text: 333333
Dark Grey: 828282
Medium Grey: afafaf
Light Grey: efefef
Dark Lime: 97ce25
Light Lime: b0d16e
Link Lime: b6ef3e
Lavender: 968ab5
Cerulean: 86fff6

Normal spacing between objects: 3.333% 


/******************************************************************
CUSTOMIZED RESET VALUES + TOOLS
******************************************************************/
b,
strong,
.strong {
    font-weight: bold;
}

dfn,
em,
.em {
    font-style: italic;
}

small,
.small {
    font-size: 75%;
}

ul,
ol {
    padding: 0;
    list-style-type: none;
}

dd {
    margin: 0;
}

.sidebar ul,
.sidebar ol,
.commentlist {
    list-style: none;
}

/*********************
CLEARFIXIN'
*********************/
.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************
TOOLS
*********************/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.image-replacement {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
    font-style: italic;
}

/* text alignment */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.alert {
    margin: 10px;
    padding: 5px 18px;
    border: 1px solid;
}

.alert-help {
    margin: 10px;
    padding: 5px 18px;
    border: 1px solid;
    border-color: #e8dc59;
    background: #ebe16f;
}

.alert-info {
    margin: 10px;
    padding: 5px 18px;
    border: 1px solid;
    border-color: #bfe4f4;
    background: #d5edf8;
}

.alert-error {
    margin: 10px;
    padding: 5px 18px;
    border: 1px solid;
    border-color: #f8cdce;
    background: #fbe3e4;
}

.alert-success {
    margin: 10px;
    padding: 5px 18px;
    border: 1px solid;
    border-color: #deeaae;
    background: #e6efc2;
}

/*********************
BUTTONS
*********************/
.button,
.button:visited {
    color: #fff;
    display: inline-block;
    margin-left: 28%;
    padding: 0 7px;
    font-size: 15px;
    height: 34px;
    line-height: 32px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #56a0d3;
    border: none;
    font-family: "news-gothic-std",sans-serif;
}

.button a {
    text-decoration: none;
}

.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
    color: #ffffff;
    background-color: #56a0d3;
}

.button:active,
.button:visited:active {
    background-color: #56a0d3;
    text-decoration: none;
}