/******************************************************************
Site Name: carolina metrics
Author: UNC Creative 

Stylesheet: Main Stylesheet
******************************************************************/

/*
NORMALIZE
*/
@import url('normalize.css');

/*
THE BASICS FOR ALL DEVICES
*/
@import url('main.css');

/*
BASE (MOBILE) SIZE
*/
@import url('base.css');

/*
LARGER MOBILE DEVICES
*/
@import url('481up.css') (min-width: 481px);


/*
TABLET & SMALLER LAPTOPS
*/
@import url('768up.css') (min-width: 768px);
@import url('grid.css') (min-width: 768px);



@import url('1030up.css') (min-width: 1030px);

@import url('1240up.css') (min-width: 1240px);


/*
PRINT STYLESHEET
*/

@media print {
	@import "print";
}

/*icon fonts from iconmoon*/

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?3m5fs8');
	src:url('../fonts/icomoon.eot?#iefix3m5fs8') format('embedded-opentype'),
		url('../fonts/icomoon.woff?3m5fs8') format('woff'),
		url('../fonts/icomoon.ttf?3m5fs8') format('truetype'),
		url('../fonts/icomoon.svg?3m5fs8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


